.container {
    display: flex;
    width: 45%;
    margin: 30px 500px;
    border: 2px solid black;
    height: 840px;
}

.left-side {
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    background-color: #ebc156;
}

.right-side {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.pfp {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    object-fit: cover;
    width: 80%;
    height: 95%;
    border-radius: 50%;
}

.name {
    border-bottom: 5px solid black;
    padding-top: 20;
    background-color: #f4e8c1;
    text-align: center;
    height: 20%;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin-top: 0;
}

.topic {
    font-size: 20px;
    font-weight: bolder;
    padding-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}