.container {
    display: flex;
    width: 45%;
    margin: 30px auto;
    min-width: 650px; 
    max-width: 900px;
    border: 2px solid black;
    height: 840px;
}

aside {
    border-right: 3px solid black;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
    background-color: #ebc156;
}

main {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.pfp {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfp img {
    object-fit: cover;
    width: 80%;
    height: 95%;
    border-radius: 50%;
    border: 2px solid black;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;   
}

h1 {
    margin: 0;
    border-bottom: 5px solid black;
    padding-top: 20;
    background-color: #f4e8c1;
    text-align: center;
    height: 20%;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin-top: 0;
}

.topic {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 17px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    background-color: whitesmoke;
    border-top: 2px solid black;
}

footer img {
    width: 50px;
    height: 50px;
}

a {
    color: black;
}

footer p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
